<a href="/product"> <button>Voltar</button> </a>
<br>
{{#each products}}
<div class = "product">
   <div class = "product-name">Nome: {{name}}</div>
   <div class = "product-price">Preço: {{price}} </div>
   <div class = "product-description">Descrição: {{description}} </div>
</div>
{{/each}}
