<!DOCTYPE html>
<html>
<head>
  <title>CPE - Consultoria em Projetos de Estoque</title>
<link rel="stylesheets" href="style.sass">
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
  <div class="menu-bar">
<ul>
  <li><a href="home"><i class="fas fa-columns"></i>  Home</a></li>
  <li class="active"><a href="estoque"><i class="fas fa-cubes"></i>  Estoque</a>
    <div class="sub-menu-1">
      <ul>
          <li><a href="saida">Saida</a></li>
          <li><a href="entrada">Entrada</a></li>
      </ul>
  </div>
  </li>

  </li>
  <li><a href="cadastro"><i class="fas fa-users"></i></i>  Cadastro</a></li>
  <li><a href="signout" ><i class="fas fa-users"></i></i>  Sair</a></li>

</ul>
</div>
</body>
</html>
</script>

<body>
<br>
<br>
  <h2 class="headertekst">Cadastrar Produto no Estoque</h2>
<br>

<html lang="en"></html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="x-ua-compatible" content="ie=edge">


<!-- CSS -->
<style>
.myForm {
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 0.8em;
width: 28em;
padding: 1em;
border: 3px solid  #febb11;
height: -10%;

}

.myForm * {
box-sizing: border-box;
box-align: center;
margin-top: 0px;
color: black;
}

.myForm fieldset {
border: none;
padding: 0;
box-align: center;
margin-top: 3px;
color: antiquewhite;

}

.myForm legend,
.myForm label {
padding: 0;
font-weight: bold;
box-align: center;
}

.myForm label.choice {
font-size: 0.9em;
font-weight: normal;
box-align: center;
}

.myForm input[type="text"],
.myForm input[type="num"],
.myForm input[type="num"],
.myForm input[type="date"],
.myForm select,
.myForm textarea {
display: block;
width: 100%;
border: 2px solid  #febb11;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 1.2em;
padding: 0.4em;
box-align: center;
}

.myForm textarea {

}

.myForm button {
padding: 1.5em;
border-radius: 1.5em;
background:  #febb11;
border: none;
font-weight: bold;
margin-top: 0.75em;
font-size: 15px;


}

.myForm button:hover {
background: antiquewhite;
cursor: pointer;
}

input[type=text]:focus {
  background-color: lightyellow;
}
input[type=num]:focus {
  background-color: lightyellow;
}

</style>

</head>

<div align="center">
<form action="/entrada" method="post" class="myForm">

<p>
            <label for="produto[descricao]">Nome do Produto</label>
            <input name="descricao" required="required" type="text" placeholder="Batata Chips LAYS" />
</p>

<p>
            <label for="produto[codigo]">Código do Produto</label>
            <input name="codigo" required="required" type="num" placeholder="0001" />
</p>

<p>
            <label for="produto[quantidade]">Quantidade</label>
            <input name="quantidade" required="required" type="num" placeholder="500" />
</p>

<p>
<label>Lote
<select id="pickup_place" name="lote">
<option value="1" >Lote 01 - 2019</option>
<option value="2" >Lote 02 - 2019</option>
<option value="3" >Lote 03 - 2019</option>
<option value="4" >Lote 04 - 2019</option>

</select>
</label>
</p>

<p>
<label>Data de Vencimento</label>
<input type="num" name="diavencimento" placeholder="Dia">
<input type="num" name="mesvencimento" placeholder="Mes">
<input type="num" name="anovencimento" placeholder="Ano">
</p>


<p><button type="submit" onclick="myFunction()">Cadastrar</button></p>

<script>
function myFunction() {
  confirm("Confirmar cadastro?");
}
</script>
</form>
</div>
</body>


</html>
