<a href="/teste-mongo"> <button>Voltar</button> </a>
<br>
{{#each products}}
<div class = "product">
   <div class = "product-name">Nome: {{nome}}</div>
   <div class = "product-price">Preço: {{preco}} </div>
   <div class = "product-description">Quantidade: {{quantidade}} </div>
</div>
{{/each}}