<!DOCTYPE html>
<html>
<head>
  <title>CPE - Consultoria em Projetos de Estoque</title>
<link rel="stylesheets" href="style.sass">
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
  <div class="menu-bar">
<ul>
  <li class="active"><a href="home"><i class="fas fa-columns"></i>  Home</a></li>
  <li><a href="estoque"><i class="fas fa-cubes"></i>  Estoque</a>
    <div class="sub-menu-1">
      <ul>
          <li><a href="saida">Saida</a></li>
          <li><a href="entrada">Entrada</a></li>
      </ul>
  </div>
  </li>

  </li>
  <li><a href="cadastro"><i class="fas fa-users"></i></i>  Cadastro</a></li>
</ul>
</div>
</body>
</html>
</script>
<style>

  h2 {
  position: absolute;
  left: 120px;
  top:150px;
  color:white;
  font-size: 30px;
}

  h3 {
  position: absolute;
  left: 600px;
  top:150px;
  color:white;
  font-size: 30px;
  }

  h4 {
  position: absolute;
  left: 990px;
  top:150px;
  color:white;
  font-size: 30px;
  }

  h1 {
  position: absolute;
  left: 107px;
  top:194px;
  color: white;
  font-size: 17px;
  background: white;
  }


.div2 {
  width: 350px;
  height: 450px;
  padding: 199px;
  position:fixed;
  left:50px;
  top:140px;
  border: 3px solid #febb11;
}

.div3 {
  height: 450px;
  padding: 199px;
  position:fixed;
  left:497px;
  top:140px;
  border: 3px solid #febb11;
}

.div4 {
  height: 450px;
  padding: 199px;
  position:fixed;
  left:940px;
  top:140px;
  border: 3px solid #febb11;
}

.listavencendo{
  width: 400px;
  position:fixed;
  left:52px;
  top:200px;
}

.listaacabando{
  width: 400px;
  position:fixed;
  left:500px;
  top:200px;
}
.listaretirados{
  width: 400px;
  position:fixed;
  left:943px;
  top:200px;
}
.list-group-item{
  background-color: transparent;
  color: white;
}
</style>
<html>
<body>

<br></br>
<br></br>
<br></br>

  <div class="div2"></div>
  <h2>Produtos vencendo</h2>
  <div class="listavencendo">
  <a href="#" class="list-group-item list-group-item-action">LAYS</a>
  <a href="#" class="list-group-item list-group-item-action">Pack 12 HEINEKEN</a>
</div>


  <div class="div3"></div>
  <h3>Lotes acabando</h3>
  <div class="listaacabando">
  <a href="#" class="list-group-item list-group-item-action">Lote 1</a>
  <a href="#" class="list-group-item list-group-item-action">Lote 2</a>
</div>

  <div class="div4"></div>
  <h4>Retirados recentemente</h4>
  <div class="listaretirados">
    <a href="#" class="list-group-item list-group-item-action">Batata LAYS</a>
    <a href="#" class="list-group-item list-group-item-action">Pack 12 HEINEKEN</a>
</div>


</body>
</html>
