
<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<style>
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 5px solid #008cba; border-top-left-radius: 10%; border-top-right-radius: 10%; }

input[type=text], input[type=password] {
  width: 100%;
  padding: 8px 12px;
  margin-bottom: 5%;
  display: inline-block;
  border: 3px solid #008cba;
  box-sizing: border-box;
  font-size: 17px;
}

button {
  background-color: #008cba;
  color: white;
  padding: 8px 12px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 25px;
}

button:hover {
  background-color: #febb11;
}

.cancelbtn {
  width: auto;
  padding: 2px 5px;
  background-color: #febb11;
  font-size: 20px;
  color:black;

}

.cancelbtn:hover {
 
  background-color: #008cba;

  

}

.imgcontainer {
  text-align: center;
  margin: 0px 0 0px 0;
}

img.avatar {
  width: 40%;
  border-radius: 20%;
}

.container {
  padding: 9px;

}

span.psw {
  float: right;
  padding-top: 16px;
  background-color: #febb11;
  color:white;
  text-decoration: none;
}


body {
  background-image: url('https://images7.alphacoders.com/413/thumb-1920-413186.jpg');
  background-repeat: no-repeat;
  
  background-size: cover;
}

#parent {
   display: table;
   height: 3px;
   width: 350px;
   background-color: white;
   border-top-left-radius: 10%;
   border-top-right-radius: 10%;
   border-bottom-left-radius: 10%;
   border-bottom-left-radius: 10%;
   margin-top: 10%;

}
#form_login {
   display: table-cell;

   vertical-align: middle;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}


</style>
</head>


<body>

<div align="center">
<div id="parent">

  <form action="/" method="post">
  <div class="imgcontainer">
    <img src="https://www.gestaomais.net.br/javax.faces.resource/avatarV01.png.jsf?ln=imagens" alt="Avatar" class="avatar">
  </div>

  <div style="text-align:center" class="container">
    <p id="mensagem"></p>
    <label for="uname"><b>Usuário</b></label>
    <input type="text" placeholder="Fernando" name="usuario[email]">

    <label for="psw"><b>Senha</b></label>
    <input type="password" placeholder="123456" name="usuario[senha]" >

    <button type="submit">Entrar</button>

  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button onclick="window.location.href='/newpassword'" type="button" class="cancelbtn">Esqueci a senha!</button>

  </div>
</form>

</div>
<script src="app.js"></script>
</body>
</html>
