<!DOCTYPE html>
<html>
<head>
  <title>CPE - Consultoria em Projetos de Estoque</title>
<link rel="stylesheets" href="style.sass">
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
  <div class="menu-bar">
<ul>
  <li><a href="home"><i class="fas fa-columns"></i>  Home</a></li>
  <li class="active"><a href="estoque"><i class="fas fa-cubes"></i>  Estoque</a>
    <div class="sub-menu-1">
      <ul>
          <li><a href="saida">Saida</a></li>
          <li><a href="entrada">Entrada</a></li>
      </ul>
  </div>
  </li>
  
  </li>
  <li><a href="lucas"><i class="fas fa-users"></i></i>  Cadastro</a></li>
</ul>
</div>
</body>
</html>
</script>