<!DOCTYPE html>
<html>
<head>
  <title>CPE - Consultoria em Projetos de Estoque</title>
<link rel="stylesheets" href="style.sass">
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
  <div class="menu-bar">
<ul>
  <li><a href="home"><i class="fas fa-columns"></i>  Home</a></li>
  <li class="active"><a href="estoque"><i class="fas fa-cubes"></i>  Estoque</a>
    <div class="sub-menu-1">
      <ul>
          <li><a href="saida">Saida</a></li>
          <li><a href="entrada">Entrada</a></li>
      </ul>
  </div>
  </li>

  </li>
  <li><a href="cadastro"><i class="fas fa-users"></i></i>  Cadastro</a></li>
  <li><a href="signout"><i class="fas fa-users"></i></i>  Sign Out</a></li>
</ul>
</div>
</body>
</html>
</script>

<body>
<br>
<br>
  <h2 class="headertekst">Remover Produto do Estoque</h2>
<br>
<html lang="en"></html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="x-ua-compatible" content="ie=edge">


<!-- CSS -->
<style>
.myForm {
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 0.8em;
width: 28em;
padding: 1em;
border: 3px solid  #febb11;
height: auto;

}

.myForm * {
box-sizing: border-box;
box-align: center;
margin-top: 0px;
color: black;
}

.myForm fieldset {
border: none;
padding: 0;
box-align: center;
margin-top: 0px;
color: antiquewhite;

}

.myForm legend,
.myForm label {
padding: 0;
font-weight: bold;
box-align: center;
}

.myForm label.choice {
font-size: 0.9em;
font-weight: normal;
box-align: center;
}

.myForm input[type="num"],
.myForm input[type="num"],
.myForm input[type="password"],
.myForm input[type="datetime-local"],
.myForm select,
.myForm textarea {
display: block;
width: 100%;
border: 2px solid  #febb11;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 1.2em;
padding: 0.4em;
box-align: center;
}

.myForm textarea {

}

.myForm button {
padding: 1.5em;
border-radius: 1.5em;
background:  #febb11;
border: none;
font-weight: bold;
margin-top: 0.75em;
font-size: 15px;


}

.myForm button:hover {
background: antiquewhite;
cursor: pointer;
}


</style>

</head>

<div align="center">
<form action="/saida" method="post" class="myForm">


<p>
            <label for="produto[codigo]">Código do Produto</label>
            <input name="codigo" required="required" type="num" placeholder="0001" />
</p>

<p>
            <label for="produto[quantidade]">Quantidade</label>
            <input name="quantidade" required="required" type="num" placeholder="500" />
</p>


<p><button type="submit" onclick="myFunction()">Remover</button></p>
<script>
function myFunction() {
  confirm("Confirmar retirada?");
}
</script>
</form>
</div>
</body>


</html>
