<form action="/teste-mongo" method="post">
    <input type="text" name="nome" placeholder="Nome">
    <br>
    <input type="text" name="preco" placeholder="Preço">
    <br>
    <input type="text" name="quantidade" placeholder="Quantidade">
    <br>
    <button type="submit">Enviar</button>
</form>